/*
    * Internet and Cloud Computing CO3219 - University of Leicester
    * Group 7
    * Authors - Zachary Larsen
    *         - Dante Baptiste
    *         - Matthew Elliott
    *         - Alexander Bradshaw
*/

html,
body {
  display:flex;
  margin:0;
  padding:0;
}

#toolbar{
  position: absolute;
  height: 100vh;
  min-width: 15%;
  max-width: 20%;
}

.header {
  text-align: center;
  background: #4bb0f4;
  color: white;
  font-size: 20px;
}

.whiteboard{
  position:absolute;
  left:0;
  right:0;
}

#canvas {
  z-index: 1;
}
#overlay{
  z-index:2;
}
#lineThickness{
  width: 85%;
}

