<!DOCTYPE html>
<head>
    <script
			  src="https://code.jquery.com/jquery-3.6.1.min.js"
			  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
			  crossorigin="anonymous"></script>
              <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='whiteboard.js')}}" defer></script>
    <script src="{{url_for('static', filename='handshake.js')}}" defer></script>
    <script>
        let room="{{room}}";
        console.log(room);
    </script>
    <link rel="stylesheet" href="{{url_for('static', filename='whiteboard.css')}}">
</head>
<html>
    <body>
        <div id="toolbar" class="header">
            <p>
            <label for="colorPicker">Choose Color:</label>
            <input type="color" id="colorPicker" value="#000000"/>
            </P>
            <p>
            <label for="lineThickness">Select Thickness:</label>
            <input type="range" id="lineThickness" min="1" max="50" value="5" step="5"/>
            </p>
            <p>
            <label for="tool">Pick Tool</label>
            <select id="tool" selected="pencil">
                <option value="pencil">Pencil</option>
                <option value="square">Square</option>
                <option value="circle">Circle</option>
                <option value="eraser">Eraser</option>
            </select>
        </p>
        <p>
            <button id="clearCanvas">Clear</button>
        </p>
        </div>
        
        <canvas id="canvas" class="whiteboard"></canvas>
        <canvas id="overlay" class="whiteboard"></canvas>
        
    </body>
</html>